@media (min-width: ($bp_lg)) {
  .bot-offer {
    padding: 0;

    .bot-offer__container {
      padding-top: 97px;
      padding-bottom: 187px;
      height: auto;
      background-image: url(../img/bot-offer--647.png);
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: auto;
    }
  }
}
