.burger {
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: $color_4;
  border-radius: 100%;
  border: none;
}
@media (min-width: ($bp_lg)) {
  .burger {
    display: none;
  }
}
