.first-offer {
  height: auto;
  background-image: url(../img/first-offer--375.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px 0 20px 0;

  .h1 {
    margin-bottom: 20px;
  }

  .first-offer__description {
    max-width: 500px;
    color: $color_1;
    // margin: 20px 0;
  }
  @media (max-width: (327px)) {
    .first-offer__description {
      // margin: 10px 0;
    }
  }
  @media (min-width: ($bp_lg)) {
    .first-offer__description {
      font-size: 18px;
    }
  }

  .first-offer__buttons {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: flex-start;
  }
  @media (min-width: (550px)) {
    .first-offer__buttons {
      flex-direction: row;
    }
  }
}
@media (min-width: ($bp_lg)) {
  .first-offer {
    padding: 100px 0 150px 0;
  }
}
@media (min-width: (550px)) {
  .first-offer {
    background-image: url(../img/first-offer--1378.jpg);
  }
}
@media (max-width: (327px)) {
  .first-offer {
    padding: 15px 0;
  }
}
