.footer {
  color: #fff;

  .footer__links {
    display: flex;
    flex-direction: column;
    .list {
      font-size: 12px;
      margin-top: 15px;
      .link {
        color: #fff;
      }
    }
  }

  .footer__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .text {
      font-size: 12px;
      margin-bottom: 15px;
    }

    .contact {
      margin: 5px 0 0 0;
      display: flex;
      flex-direction: row-reverse;

      .link {
        color: $color_1;

        &:hover {
          text-decoration: underline;
        }
      }

      .icon__contact {
        margin: 0 15px 0 0;
      }
    }
    @media (min-width: ($bp_md)) {
      .contact {
        flex-direction: row;

        .icon__contact {
          margin: 0 0 0 15px;
        }
      }
    }
  }
  @media (min-width: ($bp_md)) {
    .footer__text {
      align-items: flex-end;
    }
  }
}
