.header {
  // Left
  .header__logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @import "./logo";

  // Center
  @import "./menu";

  // Right
  .header__contact {
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    // Phone
    a {
      font-weight: bold;
      color: $color_1;
    }
    button {
      background-color: transparent;
      border: none;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
    .modal-text {
      font-size: 14px;

      color: $color_1;
    }
  }

  @import "./burger";
}
