.logo {
  display: flex;
  align-items: center;

  .logo-text {
    size: 17px;
    color: var(--color-turquise);
    font-weight: bold;
    padding-left: 15px;
  }
  @media (max-width: (345px)) {
    .logo-text {
      padding-left: 10px;
    }
  }
}
