.product-card {
  .product-card__img {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: ($bp_md)) {
    .product-card__img {
      order: 1;
    }
  }
  .product-card__text {
    .info {
      margin: 10px 0 10px 0;
      display: flex;
      flex-direction: column;
    }
  }
  @media (min-width: ($bp_md)) {
    .product-card__text {
      order: 0;
    }
  }
}
