.swiper-slide {
  display: flex;
  height: auto;
}
.swiper-pagination {
  margin-top: 30px;
  position: unset;
}

.swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background-color: #098b99 !important;
}
