<section class="advantages section">
  <div class="container">
    <div class="row">
      <div class="col-12 section__title">
        <h2 class="h2">Преимущества</h2>
      </div>
    </div>
    <div class="row advantages__row">
      <div class="col-6 col-lg-3 advantages__advantage">
        <svg class="advantages__icon" width="73px" height="73px">
          <title>Оплата сразу</title>
          <use xlink:href="#icon__advantages--1"></use>
        </svg>
        <p class="advantages__text">
          Оплата сразу наличными <br />
          или на карту
        </p>
      </div>
      <div class="col-6 col-lg-3 advantages__advantage">
        <svg class="advantages__icon" width="73px" height="73px">
          <title>Ответ сразу</title>
          <use xlink:href="#icon__advantages--2"></use>
        </svg>
        <p class="advantages__text">
          Экспресс оценка <br />
          стоимости лекарств
        </p>
        <div class="space"></div>
      </div>

      <div class="col-6 col-lg-3 advantages__advantage">
        <svg class="advantages__icon" width="73px" height="73px">
          <title>Безопасно</title>
          <use xlink:href="#icon__advantages--3"></use>
        </svg>
        <p class="advantages__text">100% конфиденциальность</p>
      </div>
      <div class="col-6 col-lg-3 col advantages__advantage">
        <svg class="advantages__icon" width="73px" height="73px">
          <title>Работаем быстро</title>
          <use xlink:href="#icon__advantages--4"></use>
        </svg>
        <p class="advantages__text">Выкупаем в день обращения</p>
      </div>
    </div>
  </div>
</section>
