<section class="bot-offer section bg--color_1" id="bot-offer">
  <div class="bot-offer__container container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="row">
          <h2 class="h2 text--color-3">
            Узнайте стоимость лекарства через наш Telegram бот
          </h2>
        </div>
        <div class="row">
          <p class="bot-offer__sub-title">Быстро. Просто. Удобно.</p>
          <div class="space"></div>
        </div>
        <div class="row">
          <p class="bot-offer__description">
            Узнать стоимость нужного препарата можно всего за несколько
            мгновений с помощью уникального Telegram бота.
          </p>
          <p class="bot-offer__description">
            Процесс совершенно несложный: Вам потребуется всего лишь ввести
            название препарата в диалоговое окно, а далее следовать инструкциям
            бота. После экспресс оценки стоимости лекарства, Вы сможете
            связаться с сотрудниками нашего сервиса для дальнейшего
            взаимодействия.
          </p>
        </div>
        <div class="row">
          <div class="bot-offer__buttons">
            <button class="button button--turquise">
              <svg class="icon__tg" width="26" height="26">
                <title>Выкупаем лекрства логотип</title>
                <use xlink:href="#icon__tg"></use>
              </svg>
              <span>Моментальная оценка в Telegram</span>
            </button>
            <div class="space"></div>
            <button class="button">Заявка на оценку</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
