<section class="bot-offer section bg--color_1">
  <div class="bot-offer__container container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="row">
          <h2 class="h2 text--color-3">
            Узнайте стоимость лекарства через наш Telegram бот
          </h2>
        </div>
        <div class="row">
          <p class="bot-offer__sub-title">Быстро. Просто. Удобно.</p>
          <div class="space"></div>
        </div>
        <div class="row">
          <p class="bot-offer__description">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum."
          </p>
        </div>
        <div class="row">
          <div class="bot-offer__buttons">
            <button class="button button--turquise">
              <svg class="icon__tg" width="26" height="26">
                <title>Выкупаем лекрства логотип</title>
                <use xlink:href="#icon__tg"></use>
              </svg>
              <span>Моментальная оценка в Telegram</span>
            </button>
            <div class="space"></div>
            <button class="button">Заявка на оценку</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
