<section class="catalog" id="catalog">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="h1">Выкупленные лекарства</h1>
      </div>
    </div>

    <div class="catalog__row row">
      <div class="catalog__product col-6 col-md-4 col-lg-3">
        @include('../parts/catalog/product-1.html')
      </div>
      <div class="catalog__product col-6 col-md-4 col-lg-3">
        @include('../parts/catalog/product-2.html')
      </div>
      <div class="catalog__product col-6 col-md-4 col-lg-3">
        @include('../parts/catalog/product-3.html')
      </div>
      <div class="catalog__product col-6 col-md-4 col-lg-3">
        @include('../parts/catalog/product-4.html')
      </div>
      <div class="catalog__product col-6 col-md-4 col-lg-3">
        @include('../parts/catalog/product-5.html')
      </div>
      <div class="catalog__product col-6 col-md-4 col-lg-3">
        @include('../parts/catalog/product-6.html')
      </div>
    </div>
  </div>
</section>
