<section class="contacts section" id="contacts">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="h1">Контакты</h1>
      </div>
    </div>
    <div class="row">
      <div class="contacts__contact col-12">
        <div class="contact">
          <a class="link" href="mailto:order@vikuplekarstv.ru">
            order@vikuplekarstv.ru
          </a>
          <a class="link__icon" href="mailto:order@vikuplekarstv.ru">
            <svg class="icon__contact" width="26" height="26">
              <title>Выкупаем лекарства через почту</title>
              <use xlink:href="#icon__email"></use>
            </svg>
          </a>
        </div>
        <div class="contact">
          <a class="link" href="tel:+7-925-118-88-07"> +7 (925) 118 88 07 </a>
          <a class="link__icon" href="tel:555-555-5555">
            <svg class="icon__tg icon__contact" width="26" height="26">
              <title>Выкупаем лекарства через телеграм</title>
              <use xlink:href="#icon__tg"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="first-offer__buttons first-offer__buttons--contacts">
          <button class="button button--turquise">Заявка на оценку</button>
          <div class="space"></div>
          <button class="button button--turquise">
            <svg class="icon__tg" width="26" height="26">
              <title>Выкупаем лекрства логотип</title>
              <use xlink:href="#icon__tg"></use>
            </svg>
            <span>Моментальная оценка в Telegram</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
