<section class="cooperation section bg--color_3">
  <div class="container">
    <div class="row">
      <div class="col-12 section__title">
        <h2 class="h2">Сотрудничество с нами</h2>
      </div>
    </div>
    <div class="row">
      <div class="cooperation__col-text col-12">
        <span class="sub-title">
          Мы заинтересованы в выкупе лекарств на регулярной основе, на
          индивидуальных условиях
        </span>
        <p class="text">
          В случае если Вы готовы предоставить нам оптовые или же регулярные
          поставки лекарственных препаратов и средств, мы можем пересмотреть
          условия сделки.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="cooperation__col-img col-12">
        <!-- <svg class="cooperation__img" width="1140" height="418.64">
          <title>Оплата сразу</title>
          <use xlink:href="#cooperation"></use>
        </svg> -->
        <img
          class="cooperation__img"
          src="img/cooperation--1140.png"
          alt="Массовый выкуп лекарств"
          width="320"
        />
      </div>
    </div>

    <div class="request-offer-row row">
      <div class="request-offer__title col-12 col-lg-6">
        <h3 class="h3">Оставьте вашу заявку</h3>
      </div>

      <div class="request-offer__form col-12 col-lg-6">
        <!-- Form -->
        <form action="/">
          <div class="row">
            <div class="col-7 col-lg-8 col-xxl-9 request-offer__col-input">
              <input
                type="text"
                class="request-offer__input"
                placeholder="Телефон*"
              />
            </div>

            <div class="col-5 col-lg-4 col-xxl-3 request-offer__button">
              <button type="submit" class="button">Отправить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
