<section class="cooperation section bg--color_3">
  <div class="container">
    <div class="row">
      <div class="col-12 section__title">
        <h2 class="h2">Сотрудничество с нами</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="sub-title">
          Мы заинтересованы в выкупе лекарств на регулярной основе, на
          индивидуальных условиях
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum."
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <svg class="advantages__icon" width="1140px" height="418.64px">
          <title>Оплата сразу</title>
          <use xlink:href="#cooperation"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
