<section class="first-offer" id="first-offer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="h1">Выкуп лекарств <br />в Москве и МО</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="first-offer__description">
          Что делать с оставшимися медикаментами?
          <br />
          Наш сервис поможет вам дорого продать лекарства!

          <!-- Современный медицинский рынок в России достаточно широк: в аптеках Вы
          можете найти тысячи лекарств любой категории. Есть некоторые
          лекарства, которые стоят огромных денег и отпускаются только по
          рецепту, например, медикаменты которые используются для лечения
          онкологических заболеваний. -->
        </p>
        <p class="first-offer__description">
          Мы предлагаем Вам полностью анонимную продажу лекарств в Москве и
          Московской области. Наше преимущество состоит в том, что мы не только
          осуществляем мгновенную оценку лекарств с помощью телеграмм-бота, и
          работаем 24/7, но и гарантируем оперативный выезд по всей территории
          Москвы и Подмосковья.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="first-offer__buttons">
          <button class="button button--turquise">Заявка на оценку</button>
          <div class="space"></div>
          <button class="button button--white">
            <svg class="icon__tg" width="26" height="26">
              <title>Выкупаем лекрства логотип</title>
              <use xlink:href="#icon__tg"></use>
            </svg>
            <span>Моментальная оценка в Telegram</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
