<footer class="footer section bg--color_5">
  <div class="container">
    <div class="row">
      <div class="footer__links col-8 col-md-3">
        <span class="title">Ссылки</span>

        <ul class="list">
          <li class="list-item">
            <a href="#" class="link">О нас</a>
          </li>
          <li class="list-item">
            <a href="#" class="link">Выкупаем лекарства</a>
          </li>
          <li class="list-item">
            <a href="#" class="link">Политика конфиденциальности</a>
          </li>
        </ul>
      </div>
      <div class="footer__links col-4 col-md-3">
        <span class="title">Клиентам</span>
        <ul class="list">
          <li class="list-item">
            <a href="#" class="link">Отзывы</a>
          </li>
          <li class="list-item">
            <a href="#" class="link">Контакты</a>
          </li>
          <li class="list-item">
            <a href="#" class="link">Вопрос-ответ</a>
          </li>
        </ul>
      </div>
      <div class="footer__text col-12 col-md-6">
        <p class="text">Выкупаем лекарства по Москве и Московской области</p>
        <span class="title">E-mail: order@vikuplekarstv.ru</span>
        <div class="footer__contact">
          <svg class="icon__tg" width="26" height="26">
            <title>Выкупаем лекрства логотип</title>
            <use xlink:href="#icon__tg"></use>
          </svg>
          <span class="phone">+7 (000) 000 00 00</span>
        </div>
      </div>
    </div>
  </div>
</footer>
