<footer class="footer section bg--color_5">
  <div class="container">
    <div class="row">
      <div class="footer__links col-8 col-md-3">
        <span class="title">Ссылки</span>
        <ul class="list">
          <li class="list-item">
            <a href="#first-offer" class="link">О нас</a>
          </li>
          <li class="list-item">
            <a href="#showcase" class="link">Выкупаем лекарства</a>
          </li>
          <li class="list-item">
            <a href="#" class="link">Политика конфиденциальности</a>
          </li>
        </ul>
      </div>
      <div class="footer__links col-4 col-md-3">
        <span class="title">Клиентам</span>
        <ul class="list">
          <li class="list-item">
            <a href="#reviews" class="link">Отзывы</a>
          </li>
          <li class="list-item">
            <a href="/contacts.html" class="link">Контакты</a>
          </li>
          <li class="list-item">
            <a href="#questions" class="link">Вопрос-ответ</a>
          </li>
        </ul>
      </div>
      <div class="footer__text col-12 col-md-6">
        <p class="text">
          Круголосуточно и без выходных выкупаем лекарства по Москве и
          Московской области
        </p>
        <div class="contact">
          <a class="link" href="mailto:order@vikuplekarstv.ru">
            order@vikuplekarstv.ru
          </a>
          <a class="link__icon" href="mailto:order@vikuplekarstv.ru">
            <svg class="icon__contact" width="26" height="26">
              <title>Выкупаем лекарства через почту</title>
              <use xlink:href="#icon__email"></use>
            </svg>
          </a>
        </div>
        <div class="contact">
          <a class="link" href="tel:+7-925-118-88-07"> +7 (925) 118 88 07 </a>
          <a class="link__icon" href="tel:555-555-5555">
            <svg class="icon__tg icon__contact" width="26" height="26">
              <title>Выкупаем лекарства через телеграм</title>
              <use xlink:href="#icon__tg"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
