<section class="how-to section bg--color_3" id="how-to">
  <div class="container">
    <div class="row">
      <div class="col-12 section__title">
        <h2 class="h2 text--color_4">Как происходит процесс выкупа</h2>
      </div>
    </div>

    <div class="row how-to__blocks">
      <div class="how-to__col col-6 col-lg-3">
        <div class="how-to__block">
          <div class="how-to__block-circle">1</div>
          <div class="how-to__block-text">
            <h3 class="title">Заявка</h3>
            <p class="text">
              Оставьте заявку на выкуп лекарства одним из способов: с помощью телефонного звонка или же Telegram бота.
            </p>
          </div>
          <svg class="how-to__block-svg how-to__block-svg--1" width="99" height="133">
            <title></title>
            <use xlink:href="#how-to--1">
          </svg>
        </div>
      </div>
      <div class="how-to__col col-6 col-lg-3">
        <div class="how-to__block">
          <div class="how-to__block-circle">2</div>
          <div class="how-to__block-text">
            <h3 class="title">Оценка</h3>
            <p class="text">
              Далее, механизм Telegram бота или же специалист нашего сервиса произведет оценку лекарственного препарата.
            </p>
          </div>
          <svg class="how-to__block-svg how-to__block-svg--2" width="119" height="146">
            <title></title>
            <use xlink:href="#how-to--2">
          </svg>
        </div>
      </div>
      <div class="how-to__col col-6 col-lg-3">
        <div class="how-to__block">
          <div class="how-to__block-circle">3</div>
          <div class="how-to__block-text">
            <h3 class="title">Встреча</h3>
            <p class="text">
              Следующий этап — встреча на Ваших условиях. Мы готовы выкупить лекарства в любое удобное для Вас время и любом месте.
            </p>
          </div>
          <svg class="how-to__block-svg how-to__block-svg--3" width="130" height="147">
            <title></title>
            <use xlink:href="#how-to--3">
          </svg>
        </div>
      </div>
      <div class="how-to__col col-6 col-lg-3">
        <div class="how-to__block">
          <div class="how-to__block-circle">4</div>
          <div class="how-to__block-text">
            <h3 class="title">Оплата</h3>
            <p class="text">
              Дорого выкупаем лекарства, оплата производится за наличный расчет либо по номеру банковской карты или телефона.
            </p>
          </div>
          <svg class="how-to__block-svg how-to__block-svg--4" width="153" height="136">
            <title></title>
            <use xlink:href="#how-to--4">
          </svg>
        </div>
      </div>
      <div class="space"></div>
    </div>

    <div class="row">
      <div class="space"></div>
      <div class="bot-offer__buttons">
        <button class="button button--turquise">
          <svg class="icon__tg" width="26" height="26">
            <title>Выкупаем лекрства логотип</title>
            <use xlink:href="#icon__tg"></use>
          </svg>
          <span>Моментальная оценка в Telegram</span>
        </button>
        <div class="space"></div>
        <button class="button">Заявка на оценку</button>
      </div>
    </div>
  </div>
</section>
