<section class="map section bg--color_1">
  <div class="container">
    <div class="row">
      <div class="col-12 section__title">
        <h2 class="h2 text--color_4">
          Скупка лекарств в любом районе Москвы и МО
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="map__col-img col-12 col-lg-7">
        <img
          class="map__img"
          src="img/map-moscow--539.png"
          alt="Где скупают лекарства в Москве"
          width="296px"
          height="367px"
        />
      </div>
      <div class="map__col-text col-12 col-lg-5">
        <p>
          Мы предлагаем срочный выкуп лекарств в любом административном округе
          города Москвы:
        </p>
        <ul class="map__list">
          <li class="map__list-item">
            <a href="#">
              <svg class="icon__arrow" width="30px" height="30px">
                <use xlink:href="#icon__arrow"></use>
              </svg>
              <span class="text">ЦАО</span></a
            >
          </li>
          <li class="map__list-item">
            <a href="#">
              <svg class="icon__arrow" width="30px" height="30px">
                <use xlink:href="#icon__arrow"></use>
              </svg>
              <span class="text">САО</span></a
            >
          </li>
          <li class="map__list-item">
            <a href="#">
              <svg class="icon__arrow" width="30px" height="30px">
                <use xlink:href="#icon__arrow"></use>
              </svg>
              <span class="text">СВАО</span></a
            >
          </li>
          <li class="map__list-item">
            <a href="#">
              <svg class="icon__arrow" width="30px" height="30px">
                <use xlink:href="#icon__arrow"></use>
              </svg>
              <span class="text">ВАО</span></a
            >
          </li>
          <li class="map__list-item">
            <a href="#">
              <svg class="icon__arrow" width="30px" height="30px">
                <use xlink:href="#icon__arrow"></use>
              </svg>
              <span class="text">ЮВАО</span></a
            >
          </li>
          <li class="map__list-item">
            <a href="#">
              <svg class="icon__arrow" width="30px" height="30px">
                <use xlink:href="#icon__arrow"></use>
              </svg>
              <span class="text">ЮАО</span></a
            >
          </li>
          <li class="map__list-item">
            <a href="#">
              <svg class="icon__arrow" width="30px" height="30px">
                <use xlink:href="#icon__arrow"></use>
              </svg>
              <span class="text">ЮЗАО</span></a
            >
          </li>
          <li class="map__list-item">
            <a href="#">
              <svg class="icon__arrow" width="30px" height="30px">
                <use xlink:href="#icon__arrow"></use>
              </svg>
              <span class="text">ЗАО</span></a
            >
          </li>
          <li class="map__list-item">
            <a href="#">
              <svg class="icon__arrow" width="30px" height="30px">
                <use xlink:href="#icon__arrow"></use>
              </svg>
              <span class="text">СЗАО</span></a
            >
          </li>
          <li class="map__list-item">
            <a href="#">
              <svg class="icon__arrow" width="30px" height="30px">
                <use xlink:href="#icon__arrow"></use>
              </svg>
              <span class="text">НАО</span></a
            >
          </li>
          <li class="map__list-item">
            <a href="#">
              <svg class="icon__arrow" width="30px" height="30px">
                <use xlink:href="#icon__arrow"></use>
              </svg>
              <span class="text">ТАО</span></a
            >
          </li>
          <li class="map__list-item">
            <a href="#">
              <svg class="icon__arrow" width="30px" height="30px">
                <use xlink:href="#icon__arrow"></use>
              </svg>
              <span class="text">ЗелАО</span></a
            >
          </li>
        </ul>
        <div>
          <button class="button">Заявка на оценку</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
