<section class="advantages section bg--color_1">
  <div class="container">
    <div class="row">
      <div class="col-12 section__title">
        <h2 class="h2 text--color_4">Что влияет на оценку</h2>
      </div>
    </div>
    <div class="row advantages__row">
      <div class="col-6 col-lg-3 advantages__advantage">
        <svg class="advantages__icon" width="73" height="73">
          <title>Оплата сразу</title>
          <use xlink:href="#rating--1"></use>
        </svg>
        <p class="advantages__text">
          Дата <br />
          изготовления
        </p>
      </div>
      <div class="col-6 col-lg-3 advantages__advantage">
        <svg class="advantages__icon" width="73" height="73">
          <title>Ответ сразу</title>
          <use xlink:href="#rating--2"></use>
        </svg>
        <p class="advantages__text">
          Целостность <br />
          упаковки
        </p>
        <div class="space"></div>
      </div>

      <div class="col-6 col-lg-3 advantages__advantage">
        <svg class="advantages__icon" width="73" height="73">
          <title>Безопасно</title>
          <use xlink:href="#rating--3"></use>
        </svg>
        <p class="advantages__text">
          Категория <br />
          препаратов
        </p>
      </div>
      <div class="col-6 col-lg-3 col advantages__advantage">
        <svg class="advantages__icon" width="73" height="73">
          <title>Работаем быстро</title>
          <use xlink:href="#rating--4"></use>
        </svg>
        <p class="advantages__text">
          Количество <br />
          лекарств
        </p>
      </div>
    </div>
  </div>
</section>
