<section class="request-offer section">
  <div class="container">
    <div class="request-offer-row row">
      <div class="request-offer__title col-12 col-lg-6">
        <h3 class="h3">Оставьте вашу заявку</h3>
        <p class="request-offer__description">
          Сотрудник нашего сервиса обязательно свяжется с Вами, как только вы
          оставите свой номер телефона.
        </p>
      </div>

      <div class="request-offer__form col-12 col-lg-6">
        <!-- Form -->
        <form action="/">
          <div class="row">
            <div class="col-7 col-lg-8 col-xxl-9 request-offer__col-input">
              <input
                type="text"
                class="request-offer__input"
                placeholder="Телефон*"
              />
            </div>

            <div class="col-5 col-lg-4 col-xxl-3 request-offer__button">
              <button type="submit" class="button">Отправить</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
