<section class="reviews showcase section bg--color_1">
  <div class="container">
    <div class="row">
      <div class="col-12 section__title">
        <h2 class="h2 text--color_4">Отзывы</h2>
      </div>
    </div>

    <div class="row">
      <!-- Swiper -->
      <div class="col-12">@include('../parts/swiper__reviews.html')</div>
    </div>

    <div class="row">
      <div class="col-12 showcase__button">
        <button class="button">Показать все</button>
      </div>
    </div>
  </div>
</section>
