<section class="why section bg--color_3" id="why">
  <div class="container">
    <div class="row">
      <div class="col-12 section__title">
        <h2 class="h2">
          Почему продать нам <br class="why__br" />
          лекарство выгодно?
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6">
        <ul class="list">
          <li class="list-item">
            <span class="list-item__num">1</span>
            <p class="text">Быстро и выгодно выкупаем лишние лекарства;</p>
          </li>
          <li class="list-item">
            <span class="list-item__num">2</span>
            <p class="text">
              Гарантируем полную анонимность и конфиденциальность;
            </p>
          </li>
          <li class="list-item">
            <span class="list-item__num">3</span>
            <p class="text">
              Предлагаем дорогой выкуп лекарств: вы можете получить до 99% от
              рыночной стоимости;
            </p>
          </li>
          <li class="list-item">
            <span class="list-item__num">4</span>
            <p class="text">
              Встреча там, где вам удобно и продажа на ваших условиях;
            </p>
          </li>
          <li class="list-item">
            <span class="list-item__num">5</span>
            <p class="text">
              Даём экспертные консультации по любым интересующим вопросам;
            </p>
          </li>
          <li class="list-item">
            <span class="list-item__num">6</span>
            <p class="text">
              Удобные формы взаимосчётов: наличная и безналичная оплата;
            </p>
          </li>
          <li class="list-item">
            <span class="list-item__num">7</span>
            <p class="text">Выкупаем в любом количестве.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
