.button {
  background-color: var(--color-turquise);
  border: 2px solid var(--color-turquise);
  color: var(--color-white);
  padding: 7px 13px;
  border-radius: 5px;
}
@media (min-width: (992px)) {
  .button {
    font-size: 20px;
    padding: 10px 16px;
  }
}

.button--turquise {
  background-color: transparent;
  color: var(--color-turquise);
}

.button--white {
  background-color: transparent;
  color: var(--color-white);
  border-color: var(--color-white);

  @media (max-width: (348px)) {
    .icon__tg {
      display: none;
    }
  }
}
