.button {
  background-color: $color_4;
  border: 2px solid $color_4;
  color: $color_1;
  padding: 7px 13px;
  border-radius: 5px;
  font-weight: 700;
}
@media (min-width: ($bp_lg)) {
  .button {
    font-size: 20px;
    padding: 10px 16px;
  }
}

.button--turquise {
  background-color: transparent;
  color: $color_4;

  @media (max-width: (348px)) {
    .icon__tg {
      display: none;
    }
  }
}

.button--white {
  background-color: transparent;
  color: $color_1;
  border-color: $color_1;

  @media (max-width: (348px)) {
    .icon__tg {
      display: none;
    }
  }
}
