html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
}
@media (max-width: (327px)) {
  body {
    font-size: 15px;
  }
}

h1 {
  color: var(--color-turquise);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
}
@media (max-width: (327px)) {
  h1 {
    font-size: 39px;
  }
}
@media (min-width: (992px)) {
  h1 {
    font-size: 58px;
  }
}

h2 {
  font-size: 28px;
}
@media (min-width: (992px)) {
  h2 {
    font-size: 40px;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

// .container {
//   margin: 0 auto;
//   padding: 0 15px;
//   max-width: 1200px;
// }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.section {
  padding: 20px 0 30px 0;

  .section__title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
  }
  @media (min-width: (992px)) {
    .section__title {
      margin-bottom: 30px;
    }
  }
}
@media (min-width: (992px)) {
  .section {
    padding: 40px 0 40px 0;
  }
}
