// Media
$bp_5: 320px;
$bp_6: 375px;
$bp_plus: 414px;
$bp_sm: 576px;
$bp_md: 768px;
$bp_lg: 992px;
$bp_xl: 1200px;

// Colors
$color_1: #fff;
$color_2: #000;
$color_3: #e3f7fa;
$color_4: #45c8da;
$color_5: #098b99;
